.layout {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;

  /* 垂直居中 */
  .container {
    position: fixed;
    top: 10px;
    bottom: 50px;
    width: 375px;
    height: 675 px;
  }

  .footer {
    position: fixed;
    bottom: 20px;
    width: 375px;
  }
}