.layout {
  display: flex;
  justify-content: center;
  //border: 2px solid gray;

  /* 垂直居中 */
  .container {
    position: fixed;
    top: 0px;

    width: 375px;
    height: 100%;
    // border: 1px solid;

  }

  .footer {
    position: fixed;
    bottom: 0px;
    width: 375px;
    background-color: #9dd1ad;
  }
}